<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header>
        <img src="http://img06.deviantart.net/daea/i/2009/174/6/9/deep_space_wp_by_archang3lzz.png"/>
      </header>
      <div class="box one">
      </div>
      <div class="box two">
        <h1><%= title %></h1>
        <p>Abychom si vzpomněli: <%= title %></p>
      </div>
      <div class="box two">
      </div>
    </div>
  </body>
</html>
