body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
.container {
  padding: 0;
  display: grid;
  grid-template: 1fr 2fr 5fr 1fr / 2fr 1fr 7fr 3fr;
  grid-row-gap: 5px;
}
header {
  display: grid;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  grid-template: 100% / 2fr 8fr 2fr;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
  z-index: 1;
  background-color: white;
}

.items {
  grid-area: 2 / 3 / 4 / 4;
  padding-top: 30px;
}
.box {
  border: solid 1px grey;
  margin-top: 10px;
  max-width: 500px;
  min-width: 250px;
  padding: 10px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
  
}
.robot {
  grid-area: 1 / 2 / 2 / 3;
}
.robot img {
  width: 80px;
  height: auto;
}
.main-title {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

a {
  color: #00B7FF;
}
.stars {
  color: yellow;
  font-size: 26px;
  line-height: 0.8;
}
#search {
  grid-area: 2 / 3 / 4 / 4;
}
#search input {
  width: 200px;
}
